doctype
html
    head
        title Mean App
        link(rel="stylesheet" href="/vendor/bootstrap/dist/css/bootstrap.min.css")
        link(rel="stylesheet" href="/vendor/notie/dist/notie.css")
        link(rel="stylesheet" href="css/app.css")
    body(ng-app="MeanBook")
        h1 Hi do you do

    block main-content

    include scripts