.container
    .jumbotron
        h1 Hello
        h2 Js
    .row
        .col-md-6
            .panel
                .panel-heading News
        .col-md-6
            .panel
                .panel-heading Stuff